In [1]:
#set the wd to file location
setwd(getSrcDirectory(function(){})[1])

# dataClean Notebook
This notebook is to be run 1st. \
The purpose of this file is to define a function which cleans the data by removing columns. It may be expanded to increase the scope. It requires the following files:
<ul>
    <li> 01-vehicles-download.csv </li>
</ul>
It will produce the following files
<ul>
    <li> 02-vehicles-cleaned.csv </li>
</ul>

In [25]:
#Import Necessary libraries
suppressWarnings({
library('tidyverse')
library('dplyr')
library('forcats')})

In [5]:
#Read Data
vehicles = read.csv('./01-vehicles-download.csv',header=TRUE)

## cleanData Function
The cleanData function takes the following inputs:
<ul>
    <li> df: the dataframe to be cleaned </li>
    <li> vars: a list of vars to drop </li>
</ul>
The cleanData function creates a new dataframe object which is a copy of the original data frame with the following changes:
<ul>
    <li> it does not contain the columns in the vars list </li>
    <li> prices are within (1000, 200000) </li>
    <li> observations with obvious patterned (illegimate) values such as 1234 </li>
    <li> NA valued rows are dropped </li>
    <li> unreasonably valued odometer values are dropped (above 500,000 miles)</li>
    <li> variables of characters are considered factor type variables </li>

</ul>

In [6]:
cleanData = function(df,vars){
    cleanedVehicles <<- df[ , !(names(df) %in% vars)]%>% #remove certain columns 
    filter(price>1000, price < 200000)%>% #remove cars outside of (1000,1000000)
    filter(price != 1234,price != 12345, price != 123456, price != 54321) %>% #remoce cars with prices following a pattern
    filter(odometer < 500000) %>%
    drop_na()%>% #drop missing values
    mutate_if(sapply(., is.character), as.factor) %>% #factorizes <chr> variables
    filter(year >= 2000) %>%
    distinct()  # drops duplicate values
  
    return(cleanedVehicles)
    }

## Applying the cleanData function and saving the data
The above function is applied to our dataframe, then the data is saved

In [7]:
#applying the cleanData function to the vehicles dataset to filter for variables
filteredVars = c('id','url','region','region_url','VIN','image_url','description','lat','long','county','posting_date','model')

cleanVehicles = cleanData(vehicles,filteredVars)

In [8]:
#save the data
write.csv(cleanedVehicles, '02-vehicles-clean.csv',row.names=FALSE)
head(cleanVehicles)

  price year manufacturer condition cylinders   fuel odometer transmission
1 33590 2014 gmc          good      8 cylinders gas   57923   other
2 22590 2010 chevrolet    good      8 cylinders gas   71229   other
3 39590 2020 chevrolet    good      8 cylinders gas   19160   other
4 30990 2017 toyota       good      8 cylinders gas   41124   other
5 15000 2013 ford         excellent 6 cylinders gas  128000   automatic
6 27990 2012 gmc          good      8 cylinders gas   68696   other
  drive type   paint_color state
1       pickup white       al
2       pickup blue        al
3       pickup red         al
4       pickup red         al
5 rwd   truck  black       al
6 4wd   pickup black       al

In [15]:
summary(cleanVehicles$odometer)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
      0   41549   92095   96186  139032  499232