# Feature selection

In [7]:
library(tidyverse)
library(dplyr)
library(rpart)
source('functions.R')

In [8]:
train = readRDS("04a-wrangledTrain.rds")

In [9]:
head(train)

  price condition cylinders   fuel title_status transmission drive size
1 33590 good      8 cylinders gas  clean        other
2 22590 good      8 cylinders gas  clean        other
3 39590 good      8 cylinders gas  clean        other
4 30990 good      8 cylinders gas  clean        other
5 15000 excellent 6 cylinders gas  clean        automatic    rwd   full-size
6 27990 good      8 cylinders gas  clean        other        4wd
  paint_color state type   countryOrigin isLuxury age sqrt_odometer
1 white       al    pickup USA           0         8  240.6720
2 blue        al    pickup USA           0        12  266.8876
3 red         al    pickup USA           0         2  138.4197
4 red         al    pickup Japan         0         5  202.7905
5 black       al    truck  USA           0         9  357.7709
6 black       al    pickup USA           0        10  262.0992

In [10]:
ctree = rpart(log(price)~., data=train)
print(ctree)

n= 195064

node), split, n, deviance, yval
      * denotes terminal node

 1) root 195064 135166.200  9.522564
   2) age>=9.5 87380  44424.840  8.946882
     4) fuel=,electric,gas,hybrid 79504  35405.530  8.869055
       8) age>=12.5 51678  21660.990  8.688554
        16) drive=,fwd 28797   9679.144  8.507107 *
        17) drive=4wd,rwd 22881   9840.545  8.916915 *
       9) age< 12.5 27826   8933.884  9.204279
        18) drive=,fwd 16437   4342.863  9.011664 *
        19) drive=4wd,rwd 11389   3101.087  9.482267 *
     5) fuel=diesel,other 7876   3676.720  9.732500 *
   3) age< 9.5 107684  38284.320  9.989700
     6) age>=5.5 55661  19197.790  9.740095
      12) type=,bus,hatchback,mini-van,sedan,SUV,van,wagon 40410  12253.460  9.582236
        24) cylinders=3 cylinders,4 cylinders,5 cylinders,other 13217   2388.248  9.286980 *
        25) cylinders=,10 cylinders,12 cylinders,6 cylinders,8 cylinders 27193   8152.987  9.725743 *
      13) type=convertible,coupe,offroad,other,pickup,truck 15251   3269.127 10.158370 *
     7) age< 5.5 52023  11908.350 10.256760
      14) drive=fwd 13893   2272.184  9.938106 *
      15) drive=,4wd,rwd 38130   7711.461 10.372860 *

In [11]:
#' @description Extract variables/features that appear in the tree.
#' @param ctree object from rpart
#' @param iprint flag is T for intermediate prints
#' @return vector with the names of features that appear in the tree.
TreeFeatures = function(ctree, iprint=F)
{ splits = ctree$splits
  if(iprint) print(splits) 
  nn = nrow(splits)
  rowlabel = rownames(splits)
  treelist = NULL
  treelist = c(treelist, rowlabel[1])
  count = splits[,1]
  for(ii in 2:nn)
  { if(count[ii]==count[ii-1] | count[ii]==0) next
    treelist = c(treelist,rowlabel[ii])
  }
  if(iprint) 
  { print(treelist)
    shortlist = unique(treelist)
    cat("shortlist\n"); print(shortlist)
  }
  unique(treelist)
}

In [12]:
TreeBestfeatures = TreeFeatures(ctree)
print(TreeBestfeatures)

[1] "age"       "fuel"      "drive"     "type"      "cylinders"