In [2]:
library(tidyverse)
library(dplyr)
library(rpart)
source('functions.R')
library(rpart)

# 05c Trees
I begin by training the model on the entire dataset

In [3]:
train = readRDS("04a-wrangledTrain.rds")
holdout = readRDS('04b-wrangledHoldout.rds')

In [4]:
# This function trains a tree and returns the model
myTrain <- function(datafr){
    mod = rpart(log(price)~ . , data=datafr)
    return(mod)
    }

In [5]:
#' @description
#' Find group position for each element of a vector
#'
#' @param values vector which should values that depends on the group
#' @param groupValues group values in the vector (hopefully unique)
#' @param tolerance for matching equality
#'
#' @return group vector with membership label for each element of 'values' #'
FindUniquePos = function(values, groupValues, tolerance=1.e-5){
    ngroup = length(groupValues) # number of groups (terminal nodes)
    temp = unique(groupValues)
    if(length(temp)<ngroup){
        cat("Won't work: non-unique group values\n"); return(0); }
    npred = length(values) # number of cases to bin into a group label group = rep(0,npred) # initialize as group 0
    group = rep(0,npred)
    for(ig in 1:ngroup){
        # group[values==groupValues[i]]=i # better to use tolerance
        igroup = (abs(values-groupValues[ig])<tolerance)
        group[igroup] = ig  # group label according to position in groupValues 
    }
    if( any(group==0) ) cat("Warning: some values not matched to groupValues\n")
    return(group)
    }

The standard kfold function needs to be modified to allow for the interval scores generated by trees.

In [7]:
kFoldTree = function(Kfold, seed, datafr)
{ set.seed(seed)
  n = nrow(datafr)
  iperm<<-sample(n) # set as global for debugging check
  nhold = round(n/Kfold)
  reg = list()
  pred = list() 
  scoreVar = list()
  rocVar = list()
  pred_y = sample(n-nhold)
  results = data.frame(NA,nrow = 3,ncol = 4)
 
  for(k in 1:Kfold){
        ilow = (k-1)*nhold+1
        ihigh = k*nhold
        if(k==Kfold) { ihigh = n }
        ifold = iperm[ilow:ihigh]
        holdo = datafr[ifold,]
        train = datafr[-ifold,]
        RegTree = rpart(log(price)~., data=train)
        meanByTNode = tapply(log(train$price), RegTree$where, mean)
        Q25ByTNode = tapply(log(train$price), RegTree$where, quantile,prob=0.25)
        Q50ByTNode = tapply(log(train$price), RegTree$where, median)
        Q75ByTNode = tapply(log(train$price), RegTree$where, quantile,prob=0.75)
        Q10ByTNode = tapply(log(train$price), RegTree$where, quantile, prob=0.10)
        Q90ByTNode = tapply(log(train$price), RegTree$where, quantile, prob=0.90)
        meanpredRegTree = predict(RegTree, newdata=holdo,type="vector")
        TNodeGroup = FindUniquePos(meanpredRegTree,meanByTNode)
      
        TNodeGroup = FindUniquePos(meanpredRegTree,meanByTNode)
      
        Q25predRegTree = Q25ByTNode[TNodeGroup]; Q75predRegTree = Q75ByTNode[TNodeGroup]
        pred50IntRegTree = exp(cbind(meanpredRegTree,Q25predRegTree,Q75predRegTree))
      
        Q10predRegTree = Q10ByTNode[TNodeGroup]; Q90predRegTree = Q90ByTNode[TNodeGroup] 
        pred80IntRegTree = exp(cbind(meanpredRegTree,Q10predRegTree,Q90predRegTree))
          
        ISTree50 = intervalScore(pred50IntRegTree,holdo$price,0.5)
        ISTree80 = intervalScore(pred80IntRegTree,holdo$price,0.8)
        outTree = rbind(ISTree50$summary,ISTree80$summary)
        colnames(outTree)=c("level","avgleng","IS","cover") 
        print(outTree)

  }
}

In [8]:
kFoldTree(3,123,datafr = train)

     level   avgleng       IS     cover
[1,]   0.5  9477.828 21119.11 0.5004229
[2,]   0.8 20321.567 31628.91 0.7993725
     level   avgleng       IS     cover
[1,]   0.5  9795.193 21610.06 0.4985774
[2,]   0.8 20545.379 32405.93 0.8009874
     level   avgleng       IS     cover
[1,]   0.5  9473.537 21142.21 0.4991541
[2,]   0.8 19925.459 31877.84 0.7981760

In [9]:
train = feature_selection(train)

In [10]:
kFoldTree(3,123,datafr = train)

     level   avgleng       IS     cover
[1,]   0.5  9381.189 21160.99 0.5011150
[2,]   0.8 19972.221 32070.82 0.8004798
     level   avgleng       IS     cover
[1,]   0.5  9180.627 21001.34 0.4973009
[2,]   0.8 19872.041 31655.98 0.8018025
     level   avgleng       IS     cover
[1,]   0.5  9461.281 21262.50 0.5000308
[2,]   0.8 20003.349 32159.89 0.7985297

In [20]:
holdo = holdout
train = readRDS("04a-wrangledTrain.rds")
RegTree = rpart(log(price)~., data=train)
meanByTNode = tapply(log(train$price), RegTree$where, mean)
Q25ByTNode = tapply(log(train$price), RegTree$where, quantile,prob=0.25)
Q50ByTNode = tapply(log(train$price), RegTree$where, median)
Q75ByTNode = tapply(log(train$price), RegTree$where, quantile,prob=0.75)
Q10ByTNode = tapply(log(train$price), RegTree$where, quantile, prob=0.10)
Q90ByTNode = tapply(log(train$price), RegTree$where, quantile, prob=0.90)
meanpredRegTree = predict(RegTree, newdata=holdo,type="vector")
TNodeGroup = FindUniquePos(meanpredRegTree,meanByTNode)
      
TNodeGroup = FindUniquePos(meanpredRegTree,meanByTNode)
      
Q25predRegTree = Q25ByTNode[TNodeGroup]; Q75predRegTree = Q75ByTNode[TNodeGroup]
pred50IntRegTree = exp(cbind(meanpredRegTree,Q25predRegTree,Q75predRegTree))
      
Q10predRegTree = Q10ByTNode[TNodeGroup]; Q90predRegTree = Q90ByTNode[TNodeGroup] 
pred80IntRegTree = exp(cbind(meanpredRegTree,Q10predRegTree,Q90predRegTree))
          
ISTree50 = intervalScore(pred50IntRegTree,holdo$price,0.5)
ISTree80 = intervalScore(pred80IntRegTree,holdo$price,0.8)
outTree = rbind(ISTree50$summary,ISTree80$summary)
colnames(outTree)=c("level","avgleng","IS","cover") 
print(outTree)

     level   avgleng       IS     cover
[1,]   0.5  9386.014 21003.94 0.4994053
[2,]   0.8 19889.704 31773.74 0.8009884

In [16]:
train = feature_selection(train)
RegTree = rpart(log(price)~., data=train)
meanByTNode = tapply(log(train$price), RegTree$where, mean)
Q25ByTNode = tapply(log(train$price), RegTree$where, quantile,prob=0.25)
Q50ByTNode = tapply(log(train$price), RegTree$where, median)
Q75ByTNode = tapply(log(train$price), RegTree$where, quantile,prob=0.75)
Q10ByTNode = tapply(log(train$price), RegTree$where, quantile, prob=0.10)
Q90ByTNode = tapply(log(train$price), RegTree$where, quantile, prob=0.90)
meanpredRegTree = predict(RegTree, newdata=holdo,type="vector")
TNodeGroup = FindUniquePos(meanpredRegTree,meanByTNode)
      
TNodeGroup = FindUniquePos(meanpredRegTree,meanByTNode)
      
Q25predRegTree = Q25ByTNode[TNodeGroup]; Q75predRegTree = Q75ByTNode[TNodeGroup]
pred50IntRegTree = exp(cbind(meanpredRegTree,Q25predRegTree,Q75predRegTree))
      
Q10predRegTree = Q10ByTNode[TNodeGroup]; Q90predRegTree = Q90ByTNode[TNodeGroup] 
pred80IntRegTree = exp(cbind(meanpredRegTree,Q10predRegTree,Q90predRegTree))
          
ISTree50 = intervalScore(pred50IntRegTree,holdo$price,0.5)
ISTree80 = intervalScore(pred80IntRegTree,holdo$price,0.8)
outTree = rbind(ISTree50$summary,ISTree80$summary)
colnames(outTree)=c("level","avgleng","IS","cover") 
print(outTree)

     level   avgleng       IS     cover
[1,]   0.5  9386.014 21003.94 0.4994053
[2,]   0.8 19889.704 31773.74 0.8009884

In [18]:
train = readRDS("04a-wrangledTrain.rds")

In [19]:
train

       price manufacturer  condition cylinders   fuel   odometer title_status
1      33590 gmc           good      8 cylinders gas     57923   clean
2      22590 chevrolet     good      8 cylinders gas     71229   clean
3      39590 chevrolet     good      8 cylinders gas     19160   clean
4      30990 toyota        good      8 cylinders gas     41124   clean
5      15000 ford          excellent 6 cylinders gas    128000   clean
6      27990 gmc           good      8 cylinders gas     68696   clean
7      35000 toyota        excellent 6 cylinders gas     43000   clean
8      29990 chevrolet     good      6 cylinders gas     17302   clean
9      38590 chevrolet     good      8 cylinders gas     30237   clean
10     32990 jeep          good      6 cylinders gas     30041   clean
11     24590 chevrolet     good      6 cylinders gas     40784   clean
12     30990 chevrolet     good                  other   34940   clean
13     27990 toyota        good                  other   17805   clean
14     37990 chevrolet     good      8 cylinders gas      9704   clean
15     33590 toyota        good                  other   55251   clean
16     30990 ford          good                  other    1834   clean
17     27990 nissan        good      6 cylinders gas     37332   clean
18     34590 ford          good      6 cylinders gas     20856   clean
19     30590 toyota        good                  other   30176   clean
20     32990 jeep          good                  gas     20581   clean
21     38990 ford          good      6 cylinders gas     12231   clean
22     22590 ram           good      8 cylinders gas     39508   clean
23     31590 mazda         good                  gas      2195   clean
24     27990 ford          good                  gas     10688   clean
25     31590 cadillac      good                  other   12102   clean
26     16590 jeep          good                  gas     35835   clean
27     26990 ford          good      6 cylinders gas     14230   clean
28     25590 gmc           good      6 cylinders other   35290   clean
29     14000 honda         excellent 6 cylinders gas     95000   clean
30     24590 gmc           good      8 cylinders other   80318   clean
⋮      ⋮     ⋮             ⋮         ⋮           ⋮      ⋮        ⋮
195035 22999 missing                             gas    120000   clean
195036 21999 missing                             gas     51000   clean
195037 11977 volkswagen                          gas    134855   clean
195038 41999 missing                             gas    126000   clean
195039  7477 chevrolet                           gas     63200   clean
195040  4277 honda                               gas    236787   clean
195041  6577 hyundai                             gas    169396   clean
195042  6977 honda                               gas    112396   clean
195043  4977 nissan                              gas    154917   clean
195044 51990 cadillac      good      6 cylinders gas      6814   clean
195045 48590 cadillac      good      6 cylinders gas      7701   clean
195046 39990 infiniti      good      8 cylinders gas     41664   clean
195047 30990 alfa-romeo    good                  other    3883   clean
195048 27590 missing       good      6 cylinders gas     36138   clean
195049 25590 missing       good      6 cylinders gas     37608   clean
195050 29590 toyota        good      6 cylinders gas     53475   clean
195051 34590 alfa-romeo    good                  other    2498   clean
195052 32990 infiniti      good      8 cylinders gas     55612   clean
195053 28990 jaguar        good                  other   16841   clean
195054 13990 missing       good                  other   75626   clean
195055 22990 hyundai       good                  gas      3066   clean
195056 17990 kia           good                  gas     34239   clean
195057 32590 mercedes-benz good                  gas     19059   clean
195058 30990 mercedes-benz good                  gas     15080   clean
195059 33590 lexus         good      6 cylinders gas     30814   clean
195060 23590 nissan        good      6 cylinders gas     32226   clean
195061 30590 volvo         good                  gas     12029   clean
195062 34990 cadillac      good                  diesel   4174   clean
195063 28990 lexus         good      6 cylinders gas     30112   clean
195064 30590 bmw           good                  gas     22716   clean
       transmission drive size      paint_color state type      countryOrigin
1      other                        white       al    pickup    USA
2      other                        blue        al    pickup    USA
3      other                        red         al    pickup    USA
4      other                        red         al    pickup    Japan
5      automatic    rwd   full-size black       al    truck     USA
6      other        4wd             black       al    pickup    USA
7      automatic    4wd             grey        al    truck     Japan
8      other        4wd             red         al    pickup    USA
9      other        rwd             red         al    other     USA
10     other        4wd             silver      al    other     USA
11     other                        white       al    pickup    USA
12     other        4wd             blue        al    pickup    USA
13     other                        red         al    pickup    Japan
14     other        rwd             red         al    coupe     USA
15     other                        red         al    pickup    Japan
16     other                        black       al    pickup    USA
17     other        4wd             silver      al    pickup    Japan
18     other                        white       al    pickup    USA
19     other                        red         al    pickup    Japan
20     other        4wd             silver      al    SUV       USA
21     other                                    al    pickup    USA
22     other                        white       al    pickup    USA
23     other        rwd                         al    other     Japan
24     other                        white       al    pickup    USA
25     other        fwd             black       al    hatchback USA
26     other        4wd             red         al    other     USA
27     other                        black       al    pickup    USA
28     other                        white       al    pickup    USA
29     automatic    fwd   full-size silver      al    mini-van  Japan
30     other                                    al    pickup    USA
⋮      ⋮            ⋮     ⋮         ⋮           ⋮     ⋮         ⋮
195035 automatic                                wy              missing
195036 automatic                                wy              missing
195037 automatic                    blue        wy    SUV       Germany
195038 automatic                                wy              missing
195039 manual                       silver      wy    sedan     USA
195040 automatic                                wy    coupe     Japan
195041 manual                       blue        wy    sedan     South Korea
195042 automatic                    white       wy    sedan     Japan
195043 automatic                                wy    sedan     Japan
195044 other        fwd             black       wy    other     USA
195045 other        fwd             black       wy    other     USA
195046 automatic    4wd             black       wy    other     Japan
195047 other                        blue        wy    sedan     Italy
195048 other                        black       wy    sedan     missing
195049 automatic    rwd             white       wy    sedan     missing
195050 automatic                    black       wy    SUV       Japan
195051 other        rwd             black       wy    sedan     Italy
195052 automatic    rwd             black       wy    other     Japan
195053 other        rwd             white       wy    sedan     UK
195054 other        fwd             white       wy    hatchback missing
195055 other        fwd             blue        wy    sedan     South Korea
195056 other                                    wy    SUV       South Korea
195057 other        rwd             white       wy    sedan     Germany
195058 automatic    rwd             white       wy    other     Germany
195059 automatic    rwd             white       wy    sedan     Japan
195060 other        fwd                         wy    sedan     Japan
195061 other        fwd             red         wy    sedan     Sweden
195062 other                        white       wy    hatchback USA
195063 other        fwd             silver      wy    sedan     Japan
195064 other        rwd                         wy    coupe     Germany
       isLuxury age
1      0         8
2      0        12
3      0         2
4      0         5
5      0         9
6      0        10
7      0         3
8      0         6
9      0        11
10     0         5
11     0         5
12     0         6
13     0         8
14     0         6
15     0         8
16     0         3
17     0         4
18     0         4
19     0         6
20     0         2
21     0         2
22     0         5
23     0         2
24     0         2
25     0         3
26     0         6
27     0         6
28     0         7
29     0        10
30     0         9
⋮      ⋮        ⋮
195035 0         9
195036 0         5
195037 0         5
195038 0         7
195039 0        10
195040 0        17
195041 0         9
195042 0        11
195043 0        17
195044 0         2
195045 0         2
195046 1         5
195047 1         3
195048 0         4
195049 0         5
195050 0         6
195051 1         2
195052 1         6
195053 1         4
195054 0         6
195055 0         2
195056 0         4
195057 1         2
195058 1         4
195059 1         4
195060 0         3
195061 1         2
195062 0         2
195063 1         4
195064 1         3