# Exploratory Data Analysis

In [2]:
data<- read.csv("./02-vehicles-clean.csv", header = TRUE)

The aim of this document is to explore data prior to vetting to suggest the next steps - wrangling, transformations, predictive methods;

In [3]:
warnings = FALSE
message  = FALSE
# loading essential libraries
library("dplyr")
library("tidyverse")

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.2 --
v ggplot2 3.3.6     v purrr   0.3.5
v tibble  3.1.8     v stringr 1.4.1
v tidyr   1.2.1     v forcats 0.5.2
v readr   2.1.3
-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [4]:
# check the dimensions of the data frame
dim(data)

[1] 253267     14

In [5]:
colnames(data)

 [1] "price"        "year"         "manufacturer" "model"        "condition"
 [6] "cylinders"    "fuel"         "odometer"     "title_status" "transmission"
[11] "drive"        "type"         "paint_color"  "state"

In [7]:
data<- data%>%
mutate_if(sapply(data, is.character), as.factor)

In [8]:
summary(data)

     price             year         manufacturer               model
 Min.   :  1003   Min.   :1900   ford     : 41805   f-150         :  4314
 1st Qu.:  7000   1st Qu.:2007   chevrolet: 32296                 :  3340
 Median : 14800   Median :2013   toyota   : 20769   silverado 1500:  2835
 Mean   : 18492   Mean   :2010   honda    : 13409   1500          :  2266
 3rd Qu.: 26000   3rd Qu.:2016   nissan   : 11219   camry         :  1950
 Max.   :999999   Max.   :2022   jeep     : 11027   silverado     :  1949
                                 (Other)  :122742   (Other)       :236613
     condition            cylinders           fuel           odometer
          :90409               :98337           :  1039   Min.   :       0
 excellent:62656   6 cylinders :57937   diesel  : 17044   1st Qu.:   41759
 fair     : 5112   4 cylinders :48616   electric:  1027   Median :   93366
 good     :79415   8 cylinders :44961   gas     :214618   Mean   :  103727
 like new :14780   5 cylinders : 1260   hybrid  :  3260   3rd Qu.:  141005
 new      :  786   10 cylinders:  885   other   : 16279   Max.   :10000000
 salvage  :  109   (Other)     : 1271
 title_status      transmission    drive            type        paint_color
 clean:253267            :  1010      :73136          :57523          :67725
                automatic:200343   4wd:76209   sedan  :51928   white  :48034
                manual   : 17685   fwd:65676   SUV    :45812   black  :38500
                other    : 34229   rwd:38246   pickup :23022   silver :26993
                                               truck  :20142   blue   :19779
                                               other  :12009   red    :18994
                                               (Other):42831   (Other):33242
     state
 ca     : 25973
 fl     : 16306
 tx     : 14180
 ny     : 11821
 oh     :  9802
 pa     :  8313
 (Other):166872

###